
Vamos aprender um hack para poder acelear o processo de validação cruzada da sua série temporal, que por vezes pode demorar um pouco. 

Quando executamos uma validação cruzada, muitas iterações podem acontecer, até que você obtenha um resultado final. 

O prophet utiliza a opção de paralelização Processo por padrão e faz com que o prophet paralise a classe Processes poll executor que faz com que o Python rode cada iteração em processos independentes. E essa opção atende bem.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from prophet import Prophet
from prophet.plot import add_changepoints_to_plot

df= pd.read_csv('online_retail.csv')
display(df)
df['date'] = pd.to_datetime(df['date'])
df.columns = ['ds', 'y']
df

/home/fabiene/anaconda3/envs/Udemy/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Importing plotly failed. Interactive plots will not work.

            date  total sales
0     2009-12-01  3106.000000
1     2009-12-02  3254.000000
2     2009-12-03  2951.000000
3     2009-12-04  2529.000000
4     2009-12-05  2644.541758
...          ...          ...
1099  2012-12-04  2726.403434
1100  2012-12-05  4528.532962
1101  2012-12-06  6125.495419
1102  2012-12-07  3476.642731
1103  2012-12-08  3107.121266

[1104 rows x 2 columns]

             ds            y
0    2009-12-01  3106.000000
1    2009-12-02  3254.000000
2    2009-12-03  2951.000000
3    2009-12-04  2529.000000
4    2009-12-05  2644.541758
...         ...          ...
1099 2012-12-04  2726.403434
1100 2012-12-05  4528.532962
1101 2012-12-06  6125.495419
1102 2012-12-07  3476.642731
1103 2012-12-08  3107.121266

[1104 rows x 2 columns]

In [2]:
model = Prophet(yearly_seasonality=4)
model.fit(df)

21:46:54 - cmdstanpy - INFO - Chain [1] start processing
21:46:54 - cmdstanpy - INFO - Chain [1] done processing

In [3]:
future = model.make_future_dataframe(periods=365) # previsão para mais 365 dias
future

             ds
0    2009-12-01
1    2009-12-02
2    2009-12-03
3    2009-12-04
4    2009-12-05
...         ...
1464 2013-12-04
1465 2013-12-05
1466 2013-12-06
1467 2013-12-07
1468 2013-12-08

[1469 rows x 1 columns]

In [4]:
forecast = model.predict(future)
forecast

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2009-12-01,1544.088000,2348.715491,3699.492726,1544.088000,1544.088000,1484.265950,1484.265950,1484.265950,149.663047,149.663047,149.663047,1334.602902,1334.602902,1334.602902,0.0,0.0,0.0,3028.353950
1,2009-12-02,1544.448001,2328.514616,3630.527358,1544.448001,1544.448001,1399.572648,1399.572648,1399.572648,90.842106,90.842106,90.842106,1308.730543,1308.730543,1308.730543,0.0,0.0,0.0,2944.020649
2,2009-12-03,1544.808002,2396.408083,3811.380453,1544.808002,1544.808002,1580.156301,1580.156301,1580.156301,299.225909,299.225909,299.225909,1280.930392,1280.930392,1280.930392,0.0,0.0,0.0,3124.964304
3,2009-12-04,1545.168004,1899.506000,3265.499317,1545.168004,1545.168004,1059.546361,1059.546361,1059.546361,-191.713575,-191.713575,-191.713575,1251.259937,1251.259937,1251.259937,0.0,0.0,0.0,2604.714365
4,2009-12-05,1545.528005,1764.369557,3162.156327,1545.528005,1545.528005,905.648210,905.648210,905.648210,-314.133782,-314.133782,-314.133782,1219.781992,1219.781992,1219.781992,0.0,0.0,0.0,2451.176215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1464,2013-12-04,1895.162421,2571.273133,3922.040484,1889.269586,1901.084169,1342.102042,1342.102042,1342.102042,90.842106,90.842106,90.842106,1251.259937,1251.259937,1251.259937,0.0,0.0,0.0,3237.264463
1465,2013-12-05,1895.384208,2717.660658,4103.994828,1889.463652,1901.342355,1519.007901,1519.007901,1519.007901,299.225909,299.225909,299.225909,1219.781992,1219.781992,1219.781992,0.0,0.0,0.0,3414.392109
1466,2013-12-06,1895.605995,2238.163857,3548.020356,1889.658683,1901.600541,994.850943,994.850943,994.850943,-191.713575,-191.713575,-191.713575,1186.564519,1186.564519,1186.564519,0.0,0.0,0.0,2890.456938
1467,2013-12-07,1895.827782,2075.263600,3459.977262,1889.854880,1901.858727,837.546626,837.546626,837.546626,-314.133782,-314.133782,-314.133782,1151.680408,1151.680408,1151.680408,0.0,0.0,0.0,2733.374408
1468,2013-12-08,1896.049569,2020.472518,3481.332027,1890.051077,1902.115584,841.592029,841.592029,841.592029,-273.615227,-273.615227,-273.615227,1115.207255,1115.207255,1115.207255,0.0,0.0,0.0,2737.641597

In [6]:
# para fazer a validação cruzada, iremos importar a cross_validation

from prophet.diagnostics import cross_validation

df_cv = cross_validation(model,
                        horizon='90 days',
                        period='30 days',
                        initial='730 days', parallel = 'processes')

In [8]:
df_cv

            ds         yhat   yhat_lower   yhat_upper            y     cutoff
0   2011-12-15  2801.201238  2123.817427  3495.404824  3702.986147 2011-12-14
1   2011-12-16  2352.317418  1606.429930  3079.725601  1229.263629 2011-12-14
2   2011-12-17  2182.372652  1444.337593  2854.855503  1325.415023 2011-12-14
3   2011-12-18  2165.461813  1470.232889  2869.659723  2739.454215 2011-12-14
4   2011-12-19  2636.147930  1874.842209  3373.911669  2699.823386 2011-12-14
..         ...          ...          ...          ...          ...        ...
895 2012-12-04  3107.793379  2413.345121  3766.892809  2726.403434 2012-09-09
896 2012-12-05  3022.980399  2389.939491  3741.113639  4528.532962 2012-09-09
897 2012-12-06  3173.205474  2505.659663  3845.518852  6125.495419 2012-09-09
898 2012-12-07  2672.855566  1989.692642  3372.155873  3476.642731 2012-09-09
899 2012-12-08  2536.217803  1859.053220  3176.052694  3107.121266 2012-09-09

[900 rows x 6 columns]


Opções parâmetro 'parallel': processes; dask, threads, None

Uma outra opção seria também utilizar a thrads, que em vez de processos independentes, ele vai paralelizar as iterações dentro de uma única thread. Mas, na dúvida usa o processes

# O none é para caso estiver usando sua máquina para outra atividade e você não quer que o outro processo seja impactado com o prophet

o dask também pode gerenciar recursos que assim como spark tem a capacidade de gerenciar recursos distribuídos.

In [9]:

#from dask.distributed import Client
#client = Client()
#df_cv = cross_validation(model,
#                         horizon='90 days',
#                         period='30 days',
#                         initial='730 days',
#                         parallel='dask')