# **TRATAMENTO DOS DADOS: PROJETO CHUVA**

INFORMAÇÕES DO DATASET 

http://www.hidrologia.daee.sp.gov.br/

http://www.daee.sp.gov.br/site/

PREFIXO: 	E3-262

NOME DO POSTO: 	GUARAU

MUNICÍPIO: 	SAO PAULO	

CURSO D'ÁGUA: 	CABUCU DE BAIXO,R/(ITAGUACU,COR)

LATITUDE: 	23°26'33"

LONGITUDE: 	46°39'01"

DADOS DE 1985 A 2021

In [19]:
# importar duas bibliotecas
import numpy as np
import pandas as pd

## **Análise e Tratamento Inicial**

In [20]:
chuva = pd.read_csv('E3-262_Chuva_Mensal.csv',
                    sep=';')

traços com problemas, e vírgulas

In [21]:
display(chuva)

,Ano,Janeiro,Fevereiro,Março,Abril,Maio,Junho,Julho,Agosto,Setembro,Outubro,Novembro,Dezembro
0,1985,"184,9","242,9",230,59,"126,2","14,6",4,"21,8","126,1","71,1","111,3","155,2"
1,1986,"199,6",221,"218,7","106,5","113,1","3,9","30,3",---,"34,5","60,7","242,5","389,9"
2,1987,"525,8",---,"161,3","98,1","293,8","183,9","11,8","30,9","80,2","84,8","72,7","152,1"
3,1988,"268,7","224,4","189,2","175,1","224,9","58,6","1,3","0,2","28,4","173,9","100,2","289,8"
4,1989,"312,9","344,3","288,2","66,3","21,7","52,5","150,1","32,9","52,1","80,1",88,"236,7"
5,1990,"284,1","196,9","310,1","85,8","77,9","50,6","121,2","76,3","97,2","206,8","116,3","149,8"
6,1991,"330,7","340,3","522,4","200,3","43,3","96,8","28,2","37,3","101,4",168,"67,3","237,9"
7,1992,"129,2","258,5",---,"87,2","93,5","11,6","40,9","24,7","150,6","219,6",---,"211,7"
8,1993,"221,5","225,7",110,"84,6","133,9","74,7","11,2","40,8","210,1","134,1","125,5","170,5"
9,1994,"196,9","184,4","231,6","111,4","54,9","30,5","39,2","2,4","1,8","147,6","86,6","276,3"
10,1995,"373,8","383,1","267,7","73,9","79,7","31,2","46,8","1,5","44,2","202,6","115,1",---
11,1996,"334,3","376,5","284,5","42,3","21,7","45,1","12,2","41,2","179,4","179,8","87,4","243,9"
12,1997,235,"187,6","57,1","63,2","88,2","124,7","12,5","28,8",118,"151,8","236,3","217,4"
13,1998,"231,6","430,1","211,2","56,9","133,8","16,6","16,6","45,5","99,5","203,1","41,5","198,4"
14,1999,---,339,"162,3","34,9","47,2","86,3",31,0,"76,9","64,5",76,"100,4"
15,2000,"387,7",304,"190,4",50,"9,7","9,8",74,---,"120,3","105,5",322,281
16,2001,"283,1","221,9","241,2","28,7",85,31,"31,7","26,9","82,3","213,1","181,6","292,9"
17,2002,"300,6","173,6","354,8","95,3","137,6","2,3",23,"41,5",84,"143,9","201,4","263,7"
18,2003,"443,4","141,5","250,2","45,5","36,6","20,7","24,5","27,6","41,5","176,7",133,"89,9"
19,2004,"188,8","316,9","127,2","160,5","77,4","75,6","105,6","2,2","13,8","120,6","215,5",181
20,2005,"378,3","95,9","202,1","137,3","177,1","35,1","39,8","11,5","150,3","195,3","96,6","140,1"
21,2006,"230,9","223,5","407,9","65,4","23,7","34,8","78,6","9,2","86,2","71,9",175,"353,3"
22,2007,"208,7",301,"240,2","67,6","63,1","17,2","134,3","0,1","27,4","167,2","211,7","268,7"
23,2008,388,"136,4","332,8","123,6","80,9","55,7",0,"52,5","49,9","144,3","125,4","152,9"
24,2009,"356,4",145,"73,6","75,3","58,1","28,3","157,7",---,"198,9","157,4","237,2","294,5"
25,2010,"549,1","175,4","258,9","116,4","52,8","20,2","78,4","1,2","100,4","73,8","129,2","234,7"
26,2011,"428,4","349,5","265,1",142,"40,1","81,3","1,5","49,7","10,7","218,2","73,4","393,7"
27,2012,"401,5",226,"165,9","149,1","82,4",---,"105,5","3,7","31,9","93,9",154,"623,2"
28,2013,"321,7","372,1",175,"103,4","39,4","210,9","168,8","15,3","45,1","110,7","76,6","139,9"
29,2014,"189,7","236,1","222,9","110,2",71,"11,5","51,9","20,5","82,1","23,8","209,3",258
30,2015,"249,3","303,5","265,9","100,4","87,2","25,4","62,7","40,5","280,9",---,---,"221,9"
31,2016,"242,8","225,2","288,1","92,2","141,4","207,3",0,"82,2","29,1","116,9","181,2","129,2"
32,2017,---,---,"120,8","156,3","166,1","101,6","0,2","53,4",12,"121,2","174,4","169,6"
33,2018,"238,2","84,5",---,"66,4","25,8",15,"20,5",---,"72,9","203,4","134,1",258
34,2019,---,"315,5","318,5","172,3","97,3",59,"195,1","6,7","73,7","75,9","170,8",249
35,2020,"408,1",---,"95,5","5,6","13,7","163,8",---,"62,1","22,9","213,9","162,1",---
36,2021,"373,3","174,1","137,8","55,7",---,---,---,---,---,---,---,---
37,Média:,"305,79","249,3","227,97","93,64","86,67","59,66","54,6","27,85","83,8","139,89","145,04","236,04"

In [22]:
chuva.head()

,Ano,Janeiro,Fevereiro,Março,Abril,Maio,Junho,Julho,Agosto,Setembro,Outubro,Novembro,Dezembro
0,1985,"184,9","242,9",230,59,"126,2","14,6",4,"21,8","126,1","71,1","111,3","155,2"
1,1986,"199,6",221,"218,7","106,5","113,1","3,9","30,3",---,"34,5","60,7","242,5","389,9"
2,1987,"525,8",---,"161,3","98,1","293,8","183,9","11,8","30,9","80,2","84,8","72,7","152,1"
3,1988,"268,7","224,4","189,2","175,1","224,9","58,6","1,3","0,2","28,4","173,9","100,2","289,8"
4,1989,"312,9","344,3","288,2","66,3","21,7","52,5","150,1","32,9","52,1","80,1",88,"236,7"

In [23]:
chuva.shape

(38, 13)

In [24]:
# Análise dos tipos de atributos.
# object: strings
# int64: inteiros
# float64: reais
# complex: complexos
chuva.dtypes

Ano          object
Janeiro      object
Fevereiro    object
Março        object
Abril        object
Maio         object
Junho        object
Julho        object
Agosto       object
Setembro     object
Outubro      object
Novembro     object
Dezembro     object
dtype: object

### queremos o float, números reais

In [25]:
# Substituir as vírgulas por pontos
chuva = chuva.apply(lambda x: x.str.replace(',','.'))
chuva.head()
# Função lambda é chamada de função anônima (simplifica a escrita da função)

,Ano,Janeiro,Fevereiro,Março,Abril,Maio,Junho,Julho,Agosto,Setembro,Outubro,Novembro,Dezembro
0,1985,184.9,242.9,230,59,126.2,14.6,4,21.8,126.1,71.1,111.3,155.2
1,1986,199.6,221,218.7,106.5,113.1,3.9,30.3,---,34.5,60.7,242.5,389.9
2,1987,525.8,---,161.3,98.1,293.8,183.9,11.8,30.9,80.2,84.8,72.7,152.1
3,1988,268.7,224.4,189.2,175.1,224.9,58.6,1.3,0.2,28.4,173.9,100.2,289.8
4,1989,312.9,344.3,288.2,66.3,21.7,52.5,150.1,32.9,52.1,80.1,88,236.7

# str significa uma string

In [26]:
chuva.dtypes

Ano          object
Janeiro      object
Fevereiro    object
Março        object
Abril        object
Maio         object
Junho        object
Julho        object
Agosto       object
Setembro     object
Outubro      object
Novembro     object
Dezembro     object
dtype: object

In [27]:
print(chuva)

         Ano Janeiro Fevereiro   Março  Abril   Maio  Junho  Julho Agosto  \
0       1985   184.9     242.9     230     59  126.2   14.6      4   21.8
1       1986   199.6       221   218.7  106.5  113.1    3.9   30.3    ---
2       1987   525.8       ---   161.3   98.1  293.8  183.9   11.8   30.9
3       1988   268.7     224.4   189.2  175.1  224.9   58.6    1.3    0.2
4       1989   312.9     344.3   288.2   66.3   21.7   52.5  150.1   32.9
5       1990   284.1     196.9   310.1   85.8   77.9   50.6  121.2   76.3
6       1991   330.7     340.3   522.4  200.3   43.3   96.8   28.2   37.3
7       1992   129.2     258.5     ---   87.2   93.5   11.6   40.9   24.7
8       1993   221.5     225.7     110   84.6  133.9   74.7   11.2   40.8
9       1994   196.9     184.4   231.6  111.4   54.9   30.5   39.2    2.4
10      1995   373.8     383.1   267.7   73.9   79.7   31.2   46.8    1.5
11      1996   334.3     376.5   284.5   42.3   21.7   45.1   12.2   41.2
12      1997     235     187.6    57.1   63.2   88.2  124.7   12.5   28.8
13      1998   231.6     430.1   211.2   56.9  133.8   16.6   16.6   45.5
14      1999     ---       339   162.3   34.9   47.2   86.3     31      0
15      2000   387.7       304   190.4     50    9.7    9.8     74    ---
16      2001   283.1     221.9   241.2   28.7     85     31   31.7   26.9
17      2002   300.6     173.6   354.8   95.3  137.6    2.3     23   41.5
18      2003   443.4     141.5   250.2   45.5   36.6   20.7   24.5   27.6
19      2004   188.8     316.9   127.2  160.5   77.4   75.6  105.6    2.2
20      2005   378.3      95.9   202.1  137.3  177.1   35.1   39.8   11.5
21      2006   230.9     223.5   407.9   65.4   23.7   34.8   78.6    9.2
22      2007   208.7       301   240.2   67.6   63.1   17.2  134.3    0.1
23      2008     388     136.4   332.8  123.6   80.9   55.7      0   52.5
24      2009   356.4       145    73.6   75.3   58.1   28.3  157.7    ---
25      2010   549.1     175.4   258.9  116.4   52.8   20.2   78.4    1.2
26      2011   428.4     349.5   265.1    142   40.1   81.3    1.5   49.7
27      2012   401.5       226   165.9  149.1   82.4    ---  105.5    3.7
28      2013   321.7     372.1     175  103.4   39.4  210.9  168.8   15.3
29      2014   189.7     236.1   222.9  110.2     71   11.5   51.9   20.5
30      2015   249.3     303.5   265.9  100.4   87.2   25.4   62.7   40.5
31      2016   242.8     225.2   288.1   92.2  141.4  207.3      0   82.2
32      2017     ---       ---   120.8  156.3  166.1  101.6    0.2   53.4
33      2018   238.2      84.5     ---   66.4   25.8     15   20.5    ---
34      2019     ---     315.5   318.5  172.3   97.3     59  195.1    6.7
35      2020   408.1       ---    95.5    5.6   13.7  163.8    ---   62.1
36      2021   373.3     174.1   137.8   55.7    ---    ---    ---    ---
37    Média:  305.79     249.3  227.97  93.64  86.67  59.66   54.6  27.85

   Setembro Outubro Novembro Dezembro
0     126.1    71.1    111.3    155.2
1      34.5    60.7    242.5    389.9
2      80.2    84.8     72.7    152.1
3      28.4   173.9    100.2    289.8
4      52.1    80.1       88    236.7
5      97.2   206.8    116.3    149.8
6     101.4     168     67.3    237.9
7     150.6   219.6      ---    211.7
8     210.1   134.1    125.5    170.5
9       1.8   147.6     86.6    276.3
10     44.2   202.6    115.1      ---
11    179.4   179.8     87.4    243.9
12      118   151.8    236.3    217.4
13     99.5   203.1     41.5    198.4
14     76.9    64.5       76    100.4
15    120.3   105.5      322      281
16     82.3   213.1    181.6    292.9
17       84   143.9    201.4    263.7
18     41.5   176.7      133     89.9
19     13.8   120.6    215.5      181
20    150.3   195.3     96.6    140.1
21     86.2    71.9      175    353.3
22     27.4   167.2    211.7    268.7
23     49.9   144.3    125.4    152.9
24    198.9   157.4    237.2    294.5
25    100.4    73.8    129.2    234.7
26     10.7   218.2     73.4    393.7
27     31.9    93.9      154    623.2
28     45.1   110.7     76.6    139.9
29     82.1    23.8    209.3      258
30    280.9     ---      ---    221.9
31     29.1   116.9    181.2    129.2
32       12   121.2    174.4    169.6
33     72.9   203.4    134.1      258
34     73.7    75.9    170.8      249
35     22.9   213.9    162.1      ---
36      ---     ---      ---      ---
37     83.8  139.89   145.04   236.04

## vai ter que subsituir com o mês ou a mediana.

In [28]:
# Transformar variáveis categóricas em numéricas e substituir os traços pela média
chuva['Janeiro'] =  pd.to_numeric(chuva['Janeiro'].str.replace('---', '305.79'))
print(chuva)

         Ano  Janeiro Fevereiro   Março  Abril   Maio  Junho  Julho Agosto  \
0       1985   184.90     242.9     230     59  126.2   14.6      4   21.8
1       1986   199.60       221   218.7  106.5  113.1    3.9   30.3    ---
2       1987   525.80       ---   161.3   98.1  293.8  183.9   11.8   30.9
3       1988   268.70     224.4   189.2  175.1  224.9   58.6    1.3    0.2
4       1989   312.90     344.3   288.2   66.3   21.7   52.5  150.1   32.9
5       1990   284.10     196.9   310.1   85.8   77.9   50.6  121.2   76.3
6       1991   330.70     340.3   522.4  200.3   43.3   96.8   28.2   37.3
7       1992   129.20     258.5     ---   87.2   93.5   11.6   40.9   24.7
8       1993   221.50     225.7     110   84.6  133.9   74.7   11.2   40.8
9       1994   196.90     184.4   231.6  111.4   54.9   30.5   39.2    2.4
10      1995   373.80     383.1   267.7   73.9   79.7   31.2   46.8    1.5
11      1996   334.30     376.5   284.5   42.3   21.7   45.1   12.2   41.2
12      1997   235.00     187.6    57.1   63.2   88.2  124.7   12.5   28.8
13      1998   231.60     430.1   211.2   56.9  133.8   16.6   16.6   45.5
14      1999   305.79       339   162.3   34.9   47.2   86.3     31      0
15      2000   387.70       304   190.4     50    9.7    9.8     74    ---
16      2001   283.10     221.9   241.2   28.7     85     31   31.7   26.9
17      2002   300.60     173.6   354.8   95.3  137.6    2.3     23   41.5
18      2003   443.40     141.5   250.2   45.5   36.6   20.7   24.5   27.6
19      2004   188.80     316.9   127.2  160.5   77.4   75.6  105.6    2.2
20      2005   378.30      95.9   202.1  137.3  177.1   35.1   39.8   11.5
21      2006   230.90     223.5   407.9   65.4   23.7   34.8   78.6    9.2
22      2007   208.70       301   240.2   67.6   63.1   17.2  134.3    0.1
23      2008   388.00     136.4   332.8  123.6   80.9   55.7      0   52.5
24      2009   356.40       145    73.6   75.3   58.1   28.3  157.7    ---
25      2010   549.10     175.4   258.9  116.4   52.8   20.2   78.4    1.2
26      2011   428.40     349.5   265.1    142   40.1   81.3    1.5   49.7
27      2012   401.50       226   165.9  149.1   82.4    ---  105.5    3.7
28      2013   321.70     372.1     175  103.4   39.4  210.9  168.8   15.3
29      2014   189.70     236.1   222.9  110.2     71   11.5   51.9   20.5
30      2015   249.30     303.5   265.9  100.4   87.2   25.4   62.7   40.5
31      2016   242.80     225.2   288.1   92.2  141.4  207.3      0   82.2
32      2017   305.79       ---   120.8  156.3  166.1  101.6    0.2   53.4
33      2018   238.20      84.5     ---   66.4   25.8     15   20.5    ---
34      2019   305.79     315.5   318.5  172.3   97.3     59  195.1    6.7
35      2020   408.10       ---    95.5    5.6   13.7  163.8    ---   62.1
36      2021   373.30     174.1   137.8   55.7    ---    ---    ---    ---
37    Média:   305.79     249.3  227.97  93.64  86.67  59.66   54.6  27.85

   Setembro Outubro Novembro Dezembro
0     126.1    71.1    111.3    155.2
1      34.5    60.7    242.5    389.9
2      80.2    84.8     72.7    152.1
3      28.4   173.9    100.2    289.8
4      52.1    80.1       88    236.7
5      97.2   206.8    116.3    149.8
6     101.4     168     67.3    237.9
7     150.6   219.6      ---    211.7
8     210.1   134.1    125.5    170.5
9       1.8   147.6     86.6    276.3
10     44.2   202.6    115.1      ---
11    179.4   179.8     87.4    243.9
12      118   151.8    236.3    217.4
13     99.5   203.1     41.5    198.4
14     76.9    64.5       76    100.4
15    120.3   105.5      322      281
16     82.3   213.1    181.6    292.9
17       84   143.9    201.4    263.7
18     41.5   176.7      133     89.9
19     13.8   120.6    215.5      181
20    150.3   195.3     96.6    140.1
21     86.2    71.9      175    353.3
22     27.4   167.2    211.7    268.7
23     49.9   144.3    125.4    152.9
24    198.9   157.4    237.2    294.5
25    100.4    73.8    129.2    234.7
26     10.7   218.2     73.4    393.7
27     31.9    93.9      154    623.2
28     45.1   110.7     76.6    139.9
29     82.1    23.8    209.3      258
30    280.9     ---      ---    221.9
31     29.1   116.9    181.2    129.2
32       12   121.2    174.4    169.6
33     72.9   203.4    134.1      258
34     73.7    75.9    170.8      249
35     22.9   213.9    162.1      ---
36      ---     ---      ---      ---
37     83.8  139.89   145.04   236.04

In [29]:
chuva.dtypes

Ano           object
Janeiro      float64
Fevereiro     object
Março         object
Abril         object
Maio          object
Junho         object
Julho         object
Agosto        object
Setembro      object
Outubro       object
Novembro      object
Dezembro      object
dtype: object

In [30]:
#Transformar variáveis categóricas em numéricas e substituir os traços pela média
chuva['Fevereiro'] =  pd.to_numeric(chuva['Fevereiro'].str.replace('---', '249.3'))
chuva['Março'] =  pd.to_numeric(chuva['Março'].str.replace('---', '227.97'))
chuva['Abril'] =  pd.to_numeric(chuva['Abril'].str.replace('---', '93.64'))
chuva['Maio'] =  pd.to_numeric(chuva['Maio'].str.replace('---', '86.67'))
chuva['Junho'] =  pd.to_numeric(chuva['Junho'].str.replace('---', '59.66'))
chuva['Julho'] =  pd.to_numeric(chuva['Julho'].str.replace('---', '54.6'))
chuva['Agosto'] =  pd.to_numeric(chuva['Agosto'].str.replace('---', '27.85'))
chuva['Setembro'] =  pd.to_numeric(chuva['Setembro'].str.replace('---', '83.8'))
chuva['Outubro'] =  pd.to_numeric(chuva['Outubro'].str.replace('---', '139.89'))
chuva['Novembro'] =  pd.to_numeric(chuva['Novembro'].str.replace('---', '145.04'))
chuva['Dezembro'] =  pd.to_numeric(chuva['Dezembro'].str.replace('---', '236.04'))
print(chuva)

         Ano  Janeiro  Fevereiro   Março   Abril    Maio   Junho  Julho  \
0       1985   184.90      242.9  230.00   59.00  126.20   14.60    4.0
1       1986   199.60      221.0  218.70  106.50  113.10    3.90   30.3
2       1987   525.80      249.3  161.30   98.10  293.80  183.90   11.8
3       1988   268.70      224.4  189.20  175.10  224.90   58.60    1.3
4       1989   312.90      344.3  288.20   66.30   21.70   52.50  150.1
5       1990   284.10      196.9  310.10   85.80   77.90   50.60  121.2
6       1991   330.70      340.3  522.40  200.30   43.30   96.80   28.2
7       1992   129.20      258.5  227.97   87.20   93.50   11.60   40.9
8       1993   221.50      225.7  110.00   84.60  133.90   74.70   11.2
9       1994   196.90      184.4  231.60  111.40   54.90   30.50   39.2
10      1995   373.80      383.1  267.70   73.90   79.70   31.20   46.8
11      1996   334.30      376.5  284.50   42.30   21.70   45.10   12.2
12      1997   235.00      187.6   57.10   63.20   88.20  124.70   12.5
13      1998   231.60      430.1  211.20   56.90  133.80   16.60   16.6
14      1999   305.79      339.0  162.30   34.90   47.20   86.30   31.0
15      2000   387.70      304.0  190.40   50.00    9.70    9.80   74.0
16      2001   283.10      221.9  241.20   28.70   85.00   31.00   31.7
17      2002   300.60      173.6  354.80   95.30  137.60    2.30   23.0
18      2003   443.40      141.5  250.20   45.50   36.60   20.70   24.5
19      2004   188.80      316.9  127.20  160.50   77.40   75.60  105.6
20      2005   378.30       95.9  202.10  137.30  177.10   35.10   39.8
21      2006   230.90      223.5  407.90   65.40   23.70   34.80   78.6
22      2007   208.70      301.0  240.20   67.60   63.10   17.20  134.3
23      2008   388.00      136.4  332.80  123.60   80.90   55.70    0.0
24      2009   356.40      145.0   73.60   75.30   58.10   28.30  157.7
25      2010   549.10      175.4  258.90  116.40   52.80   20.20   78.4
26      2011   428.40      349.5  265.10  142.00   40.10   81.30    1.5
27      2012   401.50      226.0  165.90  149.10   82.40   59.66  105.5
28      2013   321.70      372.1  175.00  103.40   39.40  210.90  168.8
29      2014   189.70      236.1  222.90  110.20   71.00   11.50   51.9
30      2015   249.30      303.5  265.90  100.40   87.20   25.40   62.7
31      2016   242.80      225.2  288.10   92.20  141.40  207.30    0.0
32      2017   305.79      249.3  120.80  156.30  166.10  101.60    0.2
33      2018   238.20       84.5  227.97   66.40   25.80   15.00   20.5
34      2019   305.79      315.5  318.50  172.30   97.30   59.00  195.1
35      2020   408.10      249.3   95.50    5.60   13.70  163.80   54.6
36      2021   373.30      174.1  137.80   55.70   86.67   59.66   54.6
37    Média:   305.79      249.3  227.97   93.64   86.67   59.66   54.6

    Agosto  Setembro  Outubro  Novembro  Dezembro
0    21.80     126.1    71.10    111.30    155.20
1    27.85      34.5    60.70    242.50    389.90
2    30.90      80.2    84.80     72.70    152.10
3     0.20      28.4   173.90    100.20    289.80
4    32.90      52.1    80.10     88.00    236.70
5    76.30      97.2   206.80    116.30    149.80
6    37.30     101.4   168.00     67.30    237.90
7    24.70     150.6   219.60    145.04    211.70
8    40.80     210.1   134.10    125.50    170.50
9     2.40       1.8   147.60     86.60    276.30
10    1.50      44.2   202.60    115.10    236.04
11   41.20     179.4   179.80     87.40    243.90
12   28.80     118.0   151.80    236.30    217.40
13   45.50      99.5   203.10     41.50    198.40
14    0.00      76.9    64.50     76.00    100.40
15   27.85     120.3   105.50    322.00    281.00
16   26.90      82.3   213.10    181.60    292.90
17   41.50      84.0   143.90    201.40    263.70
18   27.60      41.5   176.70    133.00     89.90
19    2.20      13.8   120.60    215.50    181.00
20   11.50     150.3   195.30     96.60    140.10
21    9.20      86.2    71.90    175.00    353.30
22    0.10      27.4   167.20    211.70    268.70
23   52.50      49.9   144.30    125.40    152.90
24   27.85     198.9   157.40    237.20    294.50
25    1.20     100.4    73.80    129.20    234.70
26   49.70      10.7   218.20     73.40    393.70
27    3.70      31.9    93.90    154.00    623.20
28   15.30      45.1   110.70     76.60    139.90
29   20.50      82.1    23.80    209.30    258.00
30   40.50     280.9   139.89    145.04    221.90
31   82.20      29.1   116.90    181.20    129.20
32   53.40      12.0   121.20    174.40    169.60
33   27.85      72.9   203.40    134.10    258.00
34    6.70      73.7    75.90    170.80    249.00
35   62.10      22.9   213.90    162.10    236.04
36   27.85      83.8   139.89    145.04    236.04
37   27.85      83.8   139.89    145.04    236.04

In [31]:
chuva.dtypes

Ano           object
Janeiro      float64
Fevereiro    float64
Março        float64
Abril        float64
Maio         float64
Junho        float64
Julho        float64
Agosto       float64
Setembro     float64
Outubro      float64
Novembro     float64
Dezembro     float64
dtype: object

In [34]:
# Excluir as duas últimas linhas
chuva2 = chuva.drop([36,37]) #deletar a última linha da média, e a penúltima, com os dados incompletos
#drop excluir as duas últimas linhas
print(chuva2)

     Ano  Janeiro  Fevereiro   Março  Abril   Maio   Junho  Julho  Agosto  \
0   1985   184.90      242.9  230.00   59.0  126.2   14.60    4.0   21.80
1   1986   199.60      221.0  218.70  106.5  113.1    3.90   30.3   27.85
2   1987   525.80      249.3  161.30   98.1  293.8  183.90   11.8   30.90
3   1988   268.70      224.4  189.20  175.1  224.9   58.60    1.3    0.20
4   1989   312.90      344.3  288.20   66.3   21.7   52.50  150.1   32.90
5   1990   284.10      196.9  310.10   85.8   77.9   50.60  121.2   76.30
6   1991   330.70      340.3  522.40  200.3   43.3   96.80   28.2   37.30
7   1992   129.20      258.5  227.97   87.2   93.5   11.60   40.9   24.70
8   1993   221.50      225.7  110.00   84.6  133.9   74.70   11.2   40.80
9   1994   196.90      184.4  231.60  111.4   54.9   30.50   39.2    2.40
10  1995   373.80      383.1  267.70   73.9   79.7   31.20   46.8    1.50
11  1996   334.30      376.5  284.50   42.3   21.7   45.10   12.2   41.20
12  1997   235.00      187.6   57.10   63.2   88.2  124.70   12.5   28.80
13  1998   231.60      430.1  211.20   56.9  133.8   16.60   16.6   45.50
14  1999   305.79      339.0  162.30   34.9   47.2   86.30   31.0    0.00
15  2000   387.70      304.0  190.40   50.0    9.7    9.80   74.0   27.85
16  2001   283.10      221.9  241.20   28.7   85.0   31.00   31.7   26.90
17  2002   300.60      173.6  354.80   95.3  137.6    2.30   23.0   41.50
18  2003   443.40      141.5  250.20   45.5   36.6   20.70   24.5   27.60
19  2004   188.80      316.9  127.20  160.5   77.4   75.60  105.6    2.20
20  2005   378.30       95.9  202.10  137.3  177.1   35.10   39.8   11.50
21  2006   230.90      223.5  407.90   65.4   23.7   34.80   78.6    9.20
22  2007   208.70      301.0  240.20   67.6   63.1   17.20  134.3    0.10
23  2008   388.00      136.4  332.80  123.6   80.9   55.70    0.0   52.50
24  2009   356.40      145.0   73.60   75.3   58.1   28.30  157.7   27.85
25  2010   549.10      175.4  258.90  116.4   52.8   20.20   78.4    1.20
26  2011   428.40      349.5  265.10  142.0   40.1   81.30    1.5   49.70
27  2012   401.50      226.0  165.90  149.1   82.4   59.66  105.5    3.70
28  2013   321.70      372.1  175.00  103.4   39.4  210.90  168.8   15.30
29  2014   189.70      236.1  222.90  110.2   71.0   11.50   51.9   20.50
30  2015   249.30      303.5  265.90  100.4   87.2   25.40   62.7   40.50
31  2016   242.80      225.2  288.10   92.2  141.4  207.30    0.0   82.20
32  2017   305.79      249.3  120.80  156.3  166.1  101.60    0.2   53.40
33  2018   238.20       84.5  227.97   66.4   25.8   15.00   20.5   27.85
34  2019   305.79      315.5  318.50  172.3   97.3   59.00  195.1    6.70
35  2020   408.10      249.3   95.50    5.6   13.7  163.80   54.6   62.10

    Setembro  Outubro  Novembro  Dezembro
0      126.1    71.10    111.30    155.20
1       34.5    60.70    242.50    389.90
2       80.2    84.80     72.70    152.10
3       28.4   173.90    100.20    289.80
4       52.1    80.10     88.00    236.70
5       97.2   206.80    116.30    149.80
6      101.4   168.00     67.30    237.90
7      150.6   219.60    145.04    211.70
8      210.1   134.10    125.50    170.50
9        1.8   147.60     86.60    276.30
10      44.2   202.60    115.10    236.04
11     179.4   179.80     87.40    243.90
12     118.0   151.80    236.30    217.40
13      99.5   203.10     41.50    198.40
14      76.9    64.50     76.00    100.40
15     120.3   105.50    322.00    281.00
16      82.3   213.10    181.60    292.90
17      84.0   143.90    201.40    263.70
18      41.5   176.70    133.00     89.90
19      13.8   120.60    215.50    181.00
20     150.3   195.30     96.60    140.10
21      86.2    71.90    175.00    353.30
22      27.4   167.20    211.70    268.70
23      49.9   144.30    125.40    152.90
24     198.9   157.40    237.20    294.50
25     100.4    73.80    129.20    234.70
26      10.7   218.20     73.40    393.70
27      31.9    93.90    154.00    623.20
28      45.1   110.70     76.60    139.90
29      82.1    23.80    209.30    258.00
30     280.9   139.89    145.04    221.90
31      29.1   116.90    181.20    129.20
32      12.0   121.20    174.40    169.60
33      72.9   203.40    134.10    258.00
34      73.7    75.90    170.80    249.00
35      22.9   213.90    162.10    236.04

In [33]:
chuva2.to_csv('chuva_tratado_aula_outubro_2024.csv', index = False)