# 2.20) Melhorar a acurácia do Modelo

otimizar o modelo

Olhar o Valor-P e analisar o nível de significância de 95%. Ou seja, o maior valor aceitável do value-p seria 5%, ou 0,05.
Mas podemos aceitar valores maiores, como 15 ou 13%.  24% como o youtube entra, pois é essencial esse veículo de comunicação. Questão de negócios


Não é para tirar a interseção


será retirado o P>|t| - p-value do Uol investimento que na última rodada do modelo ficou em mais de 90%. Não sendo significativo no modelo

### retirando a coluna uol, mas não deletar a soma dos leads

In [35]:
import pandas as pd

df_Base_fusca = pd.read_excel("05_MMM_Base-Fusca.xlsx", sheet_name= "Base Fusca", skiprows=4, decimal=',', usecols=  ['Month', 'Facebook', 'Programática',
       'Youtube', 'UOL', 'Outros', 'Facebook.1', 'Programática.1', 'Youtube.1',
       'UOL.1', 'Outros.1'])
df_Base_fusca.columns= [ 'Month', 'Facebook_investimento', 'Programática_investimento', 'Youtube_investimento', 'UOL_investimento', 'Outros_investimento', 'Facebook_leads', 'Programática_leads', 'Youtube_leads',
       'UOL_leads', 'Outros_leads']
df_Base_fusca.head()

,Month,Facebook_investimento,Programática_investimento,Youtube_investimento,UOL_investimento,Outros_investimento,Facebook_leads,Programática_leads,Youtube_leads,UOL_leads,Outros_leads
0,2016-01-01,60473.873061,143334.3077,29416.657409,22211.303080,15005.94875,1760.99,182.96,114.35,19.8969,208.8031
1,2016-02-01,52028.197184,122356.1975,12345.368987,14119.088829,30011.89750,1908.95,209.20,26.15,25.1040,445.5960
2,2016-03-01,228511.969582,377200.0550,82119.441529,49562.695139,17005.94875,1791.33,50.46,100.92,23.4639,556.8261
3,2016-04-01,81396.278302,347615.5767,107648.585849,63146.828750,81791.90040,2468.20,282.08,35.26,32.0866,708.3734
4,2016-05-01,145988.500300,330060.9572,10578.876833,52894.384167,95209.89150,2874.40,251.51,35.93,31.6184,399.5416

In [36]:
df_Base_fusca['total_leads']= df_Base_fusca['Facebook_leads'] + df_Base_fusca['Programática_leads'] + df_Base_fusca['Youtube_leads']+ df_Base_fusca['UOL_leads'] +df_Base_fusca['Outros_leads']

In [37]:
# obter dados do investimento de julho e agosto de 2017
df_Media_Plan = pd.read_excel("05_MMM_Base-Fusca.xlsx", sheet_name= "Media Plan", skiprows=3, decimal=',', usecols=['Unnamed: 2'	,'JULHO',	'AGOSTO'])
df_Media_Plan

                                   Unnamed: 2         JULHO        AGOSTO
0                                   TV ABERTA           NaN           NaN
1                                       GLOBO           NaN           NaN
2                                MÍDIA AVULSA  7.900258e+06  6.929357e+06
3                                         NaN           NaN           NaN
4                                        BAND           NaN           NaN
5                                 MASTER CHEF  3.200352e+05  4.000440e+05
6                   MASTER CHEF (Reaplicação)  4.561280e+05  4.561280e+05
7                                MÍDIA AVULSA  2.410416e+05  1.402607e+05
8                                         NaN           NaN           NaN
9                                      PAY TV           NaN           NaN
10                                   GLOBOSAT  9.735645e+05  9.888389e+05
11                                     TURNER  1.791892e+05  1.802896e+05
12                                        FOX  1.637235e+05  1.575474e+05
13                                  DISCOVERY  7.480000e+04  8.187200e+04
14          DIVERSOS  (somar todas as outras)  5.586750e+04  3.957750e+04
15                                        NaN           NaN           NaN
16                                    DIGITAL           NaN           NaN
17                                        AOL  2.439650e+05  2.417150e+05
18                                  GLOBO.COM  1.065000e+04  1.015000e+04
19                               UOL (AVULSO)  2.334375e+05  7.306250e+04
20                  GOOGLE - YOUTUBE (DIRETO)  6.750000e+04  6.750000e+04
21                      GOOGLE - PROGRAMÁTICA  7.699467e+05  7.434234e+05
22                                   FACEBOOK  1.349476e+06  1.289899e+06
23    DIVERSOS DESK (somar todos os veículos)  1.534648e+05  1.486072e+05
24  MOBILE (exceto Google e FB - somar todos)  1.025000e+05  1.025000e+05
25                                        NaN           NaN           NaN
26                            Share (DIGITAL)           NaN           NaN
27                                      Fusca  3.000000e-01  3.000000e-01
28                                   Fiat 147  1.500000e-01  1.500000e-01
29                               Passat Hatch  1.500000e-01  1.500000e-01
30                               Passat Sedan  1.000000e-01  1.000000e-01
31                                     Tempra  1.000000e-01  1.000000e-01
32                                      Buggy  1.000000e-01  1.000000e-01
33                                      Kombi  3.000000e-02  3.000000e-02
34                                      Rural  7.000000e-02  7.000000e-02

In [38]:
# Somar as tabelas digitais de julho e agosto.
df_Media_Plan_digital = df_Media_Plan[16:25]
df_Media_Plan_digital

                                   Unnamed: 2        JULHO       AGOSTO
16                                    DIGITAL          NaN          NaN
17                                        AOL   243965.000   241715.000
18                                  GLOBO.COM    10650.000    10150.000
19                               UOL (AVULSO)   233437.500    73062.500
20                  GOOGLE - YOUTUBE (DIRETO)    67500.000    67500.000
21                      GOOGLE - PROGRAMÁTICA   769946.725   743423.405
22                                   FACEBOOK  1349476.405  1289899.465
23    DIVERSOS DESK (somar todos os veículos)   153464.750   148607.250
24  MOBILE (exceto Google e FB - somar todos)   102500.000   102500.000

In [39]:
df_share_digital= df_Media_Plan[27:].reset_index(drop=True).rename(columns={'Unnamed: 2':'Share (DIGITAL)'})
df_share_digital

  Share (DIGITAL)  JULHO  AGOSTO
0           Fusca   0.30    0.30
1        Fiat 147   0.15    0.15
2    Passat Hatch   0.15    0.15
3    Passat Sedan   0.10    0.10
4          Tempra   0.10    0.10
5           Buggy   0.10    0.10
6           Kombi   0.03    0.03
7           Rural   0.07    0.07

In [40]:
df_share_digital_fusca = df_share_digital.loc[df_share_digital['Share (DIGITAL)'] == 'Fusca']
df_share_digital_fusca

  Share (DIGITAL)  JULHO  AGOSTO
0           Fusca    0.3     0.3

In [41]:
df_Base_fusca.loc[18,'Month'] = '2017-07-01'
df_Base_fusca.loc[19,'Month'] = '2017-08-01'



# facebook
midia_invest = df_Media_Plan_digital.loc[df_Media_Plan_digital['Unnamed: 2']=='FACEBOOK']['JULHO'].values[0]
share = df_share_digital_fusca.loc[df_share_digital_fusca['Share (DIGITAL)']=='Fusca']['JULHO'].values[0]
df_Base_fusca.loc[18,'Facebook_investimento'] = midia_invest*share
midia_invest = df_Media_Plan_digital.loc[df_Media_Plan_digital['Unnamed: 2']=='FACEBOOK']['AGOSTO'].values[0]
share = df_share_digital_fusca.loc[df_share_digital_fusca['Share (DIGITAL)']=='Fusca']['AGOSTO'].values[0]
df_Base_fusca.loc[19,'Facebook_investimento'] = midia_invest*share


# GOOGLE - PROGRAMÁTICA	
midia_invest = df_Media_Plan_digital.loc[df_Media_Plan_digital['Unnamed: 2']=='GOOGLE - PROGRAMÁTICA']['JULHO'].values[0]
share = df_share_digital_fusca.loc[df_share_digital_fusca['Share (DIGITAL)']=='Fusca']['JULHO'].values[0]
df_Base_fusca.loc[18,'Programática_investimento'] = midia_invest*share
midia_invest = df_Media_Plan_digital.loc[df_Media_Plan_digital['Unnamed: 2']=='GOOGLE - PROGRAMÁTICA']['AGOSTO'].values[0]
share = df_share_digital_fusca.loc[df_share_digital_fusca['Share (DIGITAL)']=='Fusca']['AGOSTO'].values[0]
df_Base_fusca.loc[19,'Programática_investimento'] = midia_invest*share


# GOOGLE - YOUTUBE (DIRETO)	
midia_invest = df_Media_Plan_digital.loc[df_Media_Plan_digital['Unnamed: 2']=='GOOGLE - YOUTUBE (DIRETO)']['JULHO'].values[0]
share = df_share_digital_fusca.loc[df_share_digital_fusca['Share (DIGITAL)']=='Fusca']['JULHO'].values[0]
df_Base_fusca.loc[18,'Youtube_investimento'] = midia_invest*share
midia_invest = df_Media_Plan_digital.loc[df_Media_Plan_digital['Unnamed: 2']=='GOOGLE - YOUTUBE (DIRETO)']['AGOSTO'].values[0]
share = df_share_digital_fusca.loc[df_share_digital_fusca['Share (DIGITAL)']=='Fusca']['AGOSTO'].values[0]
df_Base_fusca.loc[19,'Youtube_investimento'] = midia_invest*share

# UOL (AVULSO)	
midia_invest = df_Media_Plan_digital.loc[df_Media_Plan_digital['Unnamed: 2']=='UOL (AVULSO)']['JULHO'].values[0]
share = df_share_digital_fusca.loc[df_share_digital_fusca['Share (DIGITAL)']=='Fusca']['JULHO'].values[0]
df_Base_fusca.loc[18,'UOL_investimento'] = midia_invest*share
midia_invest = df_Media_Plan_digital.loc[df_Media_Plan_digital['Unnamed: 2']=='UOL (AVULSO)']['AGOSTO'].values[0]
share = df_share_digital_fusca.loc[df_share_digital_fusca['Share (DIGITAL)']=='Fusca']['AGOSTO'].values[0]
df_Base_fusca.loc[19,'UOL_investimento'] = midia_invest*share



# OUTROS	
midia_invest1 = df_Media_Plan_digital.loc[df_Media_Plan_digital['Unnamed: 2']=='AOL']['JULHO'].values[0]
midia_invest2 = df_Media_Plan_digital.loc[df_Media_Plan_digital['Unnamed: 2']=='GLOBO.COM']['JULHO'].values[0]
midia_invest3 = df_Media_Plan_digital.loc[df_Media_Plan_digital['Unnamed: 2']=='DIVERSOS DESK (somar todos os veículos)']['JULHO'].values[0]
midia_invest4 = df_Media_Plan_digital.loc[df_Media_Plan_digital['Unnamed: 2']=='MOBILE (exceto Google e FB - somar todos)']['JULHO'].values[0]
share = df_share_digital_fusca.loc[df_share_digital_fusca['Share (DIGITAL)']=='Fusca']['JULHO'].values[0]
df_Base_fusca.loc[18,'Outros_investimento'] = (midia_invest1+midia_invest2+midia_invest3+midia_invest4)*share


midia_invest1 = df_Media_Plan_digital.loc[df_Media_Plan_digital['Unnamed: 2']=='AOL']['AGOSTO'].values[0]
midia_invest2 = df_Media_Plan_digital.loc[df_Media_Plan_digital['Unnamed: 2']=='GLOBO.COM']['AGOSTO'].values[0]
midia_invest3 = df_Media_Plan_digital.loc[df_Media_Plan_digital['Unnamed: 2']=='DIVERSOS DESK (somar todos os veículos)']['AGOSTO'].values[0]
midia_invest4 = df_Media_Plan_digital.loc[df_Media_Plan_digital['Unnamed: 2']=='MOBILE (exceto Google e FB - somar todos)']['AGOSTO'].values[0]
share = df_share_digital_fusca.loc[df_share_digital_fusca['Share (DIGITAL)']=='Fusca']['AGOSTO'].values[0]
df_Base_fusca.loc[19,'Outros_investimento'] = (midia_invest1+midia_invest2+midia_invest3+midia_invest4)*share

In [42]:
df_Base_fusca.columns

Index(['Month', 'Facebook_investimento', 'Programática_investimento',
       'Youtube_investimento', 'UOL_investimento', 'Outros_investimento',
       'Facebook_leads', 'Programática_leads', 'Youtube_leads', 'UOL_leads',
       'Outros_leads', 'total_leads'],
      dtype='object')

In [43]:
df_Base_fusca_new =  df_Base_fusca[['Month', 'Facebook_investimento', 'Programática_investimento',
       'Youtube_investimento', 'Outros_investimento',
       'Facebook_leads', 'Programática_leads', 'Youtube_leads', 'UOL_leads',
       'Outros_leads', 'total_leads']]

In [44]:
df_Base_fusca_new.tail(7)

,Month,Facebook_investimento,Programática_investimento,Youtube_investimento,Outros_investimento,Facebook_leads,Programática_leads,Youtube_leads,UOL_leads,Outros_leads,total_leads
13,2017-02-01,208994.980000,491499.464400,3222.930300,166924.346400,2681.60,100.56,33.52,30.5032,505.8168,3352.0
14,2017-03-01,328435.620000,618041.868600,33521.000317,58349.993950,1504.95,57.15,38.10,15.6210,289.1790,1905.0
15,2017-04-01,53297.100000,254391.701100,23625.100275,80334.221400,2141.16,76.47,101.96,24.2155,205.1945,2549.0
16,2017-05-02,79562.492043,217749.978223,19890.623011,71187.492881,2831.24,76.52,76.52,32.1384,809.5816,3826.0
17,2017-06-03,74537.492546,209374.979060,38315.621168,62812.493718,1889.16,179.92,112.45,18.4418,49.0282,2249.0
18,2017-07-01,404842.921500,230984.017500,20250.000000,153173.925000,NaN,NaN,NaN,NaN,NaN,NaN
19,2017-08-01,386969.839500,223027.021500,20250.000000,150891.675000,NaN,NaN,NaN,NaN,NaN,NaN

## de janeiro/2016 até abril/2017 para análise da parte estatística

In [45]:
df_Base_fusca_new[:16]

,Month,Facebook_investimento,Programática_investimento,Youtube_investimento,Outros_investimento,Facebook_leads,Programática_leads,Youtube_leads,UOL_leads,Outros_leads,total_leads
0,2016-01-01,60473.873061,143334.3077,29416.657409,15005.94875,1760.99,182.96,114.35,19.8969,208.8031,2287.0
1,2016-02-01,52028.197184,122356.1975,12345.368987,30011.89750,1908.95,209.20,26.15,25.1040,445.5960,2615.0
2,2016-03-01,228511.969582,377200.0550,82119.441529,17005.94875,1791.33,50.46,100.92,23.4639,556.8261,2523.0
3,2016-04-01,81396.278302,347615.5767,107648.585849,81791.90040,2468.20,282.08,35.26,32.0866,708.3734,3526.0
4,2016-05-01,145988.500300,330060.9572,10578.876833,95209.89150,2874.40,251.51,35.93,31.6184,399.5416,3593.0
5,2016-06-01,189697.708860,391937.4150,65453.548305,86226.23130,3871.92,297.84,99.28,41.2012,653.7588,4964.0
6,2016-07-01,142408.233800,374758.5100,96844.813750,77417.89340,1508.00,40.20,40.20,16.6830,404.9170,2010.0
7,2016-08-01,117147.529820,355391.3826,38171.667020,85557.18470,1965.60,176.40,25.20,20.9160,331.8840,2520.0
8,2016-09-01,190300.119460,440363.9128,9436.369560,94363.69560,1593.90,136.62,22.77,17.0775,506.6325,2277.0
9,2016-10-01,113164.169100,351404.5251,25167.000650,62187.79655,2053.28,125.20,125.20,21.0336,179.2864,2504.0
10,2016-11-01,61327.000380,186048.2034,23428.292280,41344.04520,1315.44,81.20,81.20,14.4536,131.7064,1624.0
11,2016-12-01,55284.245520,194153.0051,23528.711635,36198.01790,900.00,17.00,17.00,5.0000,4.0000,943.0
12,2017-01-01,171074.920000,436081.5381,41918.620925,76505.53300,1962.72,136.30,27.26,25.3518,574.3682,2726.0
13,2017-02-01,208994.980000,491499.4644,3222.930300,166924.34640,2681.60,100.56,33.52,30.5032,505.8168,3352.0
14,2017-03-01,328435.620000,618041.8686,33521.000317,58349.99395,1504.95,57.15,38.10,15.6210,289.1790,1905.0
15,2017-04-01,53297.100000,254391.7011,23625.100275,80334.22140,2141.16,76.47,101.96,24.2155,205.1945,2549.0

In [46]:
# não significa que o R2 baixo teremos um modelo que não fique bem ajustado. Vamos analisar mais a fundo.

import statsmodels.formula.api as smf
# dados completos soma_geral_treino
df_estatistico = df_Base_fusca_new[:16]
# Modelo com fórmula
# Modelo com fórmula corrigida (usando + para somar variáveis)
modelo = smf.ols("total_leads ~ Facebook_investimento + Programática_investimento + Youtube_investimento + Outros_investimento", data=df_Base_fusca).fit()

# Estatísticas de regressão
resumo = modelo.summary()

resumo

/home/fabiene/anaconda3/envs/Udemy/lib/python3.11/site-packages/scipy/stats/_axis_nan_policy.py:430: UserWarning: `kurtosistest` p-value may be inaccurate with fewer than 20 observations; only n=18 observations were given.
  return hypotest_fun_in(*args, **kwds)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            total_leads   R-squared:                       0.424
Model:                            OLS   Adj. R-squared:                  0.247
Method:                 Least Squares   F-statistic:                     2.391
Date:                Tue, 13 May 2025   Prob (F-statistic):              0.104
Time:                        21:58:20   Log-Likelihood:                -142.86
No. Observations:                  18   AIC:                             295.7
Df Residuals:                      13   BIC:                             300.2
Df Model:                           4
Covariance Type:            nonrobust
=============================================================================================
                                coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------
Intercept                  1959.8029    595.571      3.291      0.006     673.149    3246.457
Facebook_investimento         0.0136      0.008      1.738      0.106      -0.003       0.031
Programática_investimento    -0.0102      0.005     -1.896      0.080      -0.022       0.001
Youtube_investimento          0.0131      0.007      1.800      0.095      -0.003       0.029
Outros_investimento           0.0254      0.009      2.918      0.012       0.007       0.044
==============================================================================
Omnibus:                        0.016   Durbin-Watson:                   2.432
Prob(Omnibus):                  0.992   Jarque-Bera (JB):                0.227
Skew:                           0.005   Prob(JB):                        0.893
Kurtosis:                       2.450   Cond. No.                     1.23e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.23e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

# analisar o P>|t|

In [47]:
import statsmodels.api as sm

# ANOVA
anova = sm.stats.anova_lm(modelo, typ=2)

print('\nANOVA:')
display(anova)

ANOVA:

                                 sum_sq    df         F    PR(>F)
Facebook_investimento      1.916525e+06   1.0  3.020820  0.105815
Programática_investimento  2.281175e+06   1.0  3.595579  0.080378
Youtube_investimento       2.054830e+06   1.0  3.238815  0.095153
Outros_investimento        5.403373e+06   1.0  8.516776  0.011978
Residual                   8.247704e+06  13.0       NaN       NaN

In [48]:
# Para calcular o erro padrão geral (RMSE ou erro padrão residual) entre o eixo X (Investimentos) e Y (Leads)
# Erro padrão
import numpy as np
from sklearn.metrics import mean_squared_error
# Selecionar as variáveis independentes (X) e dependente (y)
x = df_estatistico[[
    'Facebook_investimento',
    'Programática_investimento',
    'Youtube_investimento',
    'Outros_investimento'
]]
y = df_estatistico['total_leads']    
# Predição
y_pred2 = modelo.predict(x)    
# Erro padrão geral (RMSE)
rmse = np.sqrt(mean_squared_error(y, y_pred2))
print(f'Erro padrão geral -  Erro Quadrático Médio (RMSE): {rmse:.2f}')

Erro padrão geral -  Erro Quadrático Médio (RMSE): 656.61

In [49]:
from sklearn.linear_model import LinearRegression
modelo2 = LinearRegression()
modelo2.fit(x, y)
# Predição
y_pred = modelo2.predict(x)
r2 = modelo2.score(x, y)  # R-quadrado
print(f'R2 = {r2*100:.2f}%')

R2 = 46.18%

In [50]:
Coeficientes_intercepto = modelo2.intercept_
Coeficientes_investimento_face = modelo2.coef_[0]
Coeficientes_investimento_programa = modelo2.coef_[1]
Coeficientes_investimento_youtube = modelo2.coef_[2]
Coeficientes_investimento_uol = modelo2.coef_[3]

print(f'Intercepto: {modelo2.intercept_:.4f}  (Coeficientes Interseção) ')

print(f'Coeficiente angular (slope) Facebook no Fusca: {Coeficientes_investimento_face:.4f}  (Coeficientes investimento)')
print(f'Coeficiente angular (slope) Programático no Fusca: {Coeficientes_investimento_programa:.4f}  (Coeficientes investimento)')
print(f'Coeficiente angular (slope) Youtube no Fusca: {Coeficientes_investimento_youtube:.4f}  (Coeficientes investimento)')
print(f'Coeficiente angular (slope) Outros no Fusca: {Coeficientes_investimento_uol:.4f}  (Coeficientes investimento)')

Intercepto: 1879.5315  (Coeficientes Interseção)
Coeficiente angular (slope) Facebook no Fusca: 0.0132  (Coeficientes investimento)
Coeficiente angular (slope) Programático no Fusca: -0.0098  (Coeficientes investimento)
Coeficiente angular (slope) Youtube no Fusca: 0.0139  (Coeficientes investimento)
Coeficiente angular (slope) Outros no Fusca: 0.0247  (Coeficientes investimento)

In [51]:
# Coeficientes (incluindo o intercepto)
coeficientes = modelo.params

# Intercepto (constante)
coef_intercepto = coeficientes['Intercept']

# Coeficientes das variáveis independentes
coef_facebook = coeficientes['Facebook_investimento']
coef_programatica = coeficientes['Programática_investimento']
coef_youtube = coeficientes['Youtube_investimento']
coef_outros = coeficientes['Outros_investimento']

print('dados estatísticos do investimento e leads do Fusca')
print("Intercepto (Coeficientes Interseção) :", coef_intercepto)
print("Facebook:", coef_facebook)
print("Programática:", coef_programatica)
print("YouTube:", coef_youtube)
print("Outros:", coef_outros)

dados estatísticos do investimento e leads do Fusca
Intercepto (Coeficientes Interseção) : 1959.8029157384963
Facebook: 0.013624844735581586
Programática: -0.0102280891072807
YouTube: 0.013060423111266772
Outros: 0.02540075899523499

In [52]:
# apenas 5 coeficientes, vale este agora.
coeficientes

Intercept                    1959.802916
Facebook_investimento           0.013625
Programática_investimento      -0.010228
Youtube_investimento            0.013060
Outros_investimento             0.025401
dtype: float64

In [53]:
# R-quadrado
r2 = modelo.rsquared

# R-quadrado ajustado
r2_ajustado = modelo.rsquared_adj

# Exibir
print(f"R²: {r2:.4f} ")
print(f"R² ajustado: {r2_ajustado:.4f}")

R²: 0.4239
R² ajustado: 0.2466

In [55]:
df_Base_fusca_new['Previsao_leads']= coef_intercepto + df_Base_fusca_new['Facebook_investimento']*coef_facebook + df_Base_fusca_new['Programática_investimento']*coef_programatica +  df_Base_fusca_new['Youtube_investimento'] *coef_youtube +  df_Base_fusca_new['Outros_investimento'] *coef_outros

# somar o total e a previsão de janeiro de 2016 à junho de 2017 => treino

In [57]:
df_Base_fusca_new.tail(5)

,Month,Facebook_investimento,Programática_investimento,Youtube_investimento,Outros_investimento,Facebook_leads,Programática_leads,Youtube_leads,UOL_leads,Outros_leads,total_leads,Previsao_leads
15,2017-04-01,53297.100000,254391.701100,23625.100275,80334.221400,2141.16,76.47,101.96,24.2155,205.1945,2549.0,2433.130644
16,2017-05-02,79562.492043,217749.978223,19890.623011,71187.492881,2831.24,76.52,76.52,32.1384,809.5816,3826.0,2884.659639
17,2017-06-03,74537.492546,209374.979060,38315.621168,62812.493718,1889.16,179.92,112.45,18.4418,49.0282,2249.0,2929.761975
18,2017-07-01,404842.921500,230984.017500,20250.000000,153173.925000,NaN,NaN,NaN,NaN,NaN,NaN,9268.407271
19,2017-08-01,386969.839500,223027.021500,20250.000000,150891.675000,NaN,NaN,NaN,NaN,NaN,NaN,9048.303286

In [59]:
total_leads_geral = df_Base_fusca_new.loc[df_Base_fusca_new['Month']<='2017-06-03']['total_leads'].sum()
Previsao_leads_geral= df_Base_fusca_new.loc[df_Base_fusca_new['Month']<='2017-06-03']['Previsao_leads'].sum()

print(f"""
Soma do Total real de leads de janeiro/2016 à junho/2017 : {total_leads_geral:,.2f}
Soma da Previsão de leads de janeiro/2016 à junho/2017 : {Previsao_leads_geral:,.2f}


Cálculo da variação = 1 - previsto/real da base geral Treino + teste
Cálculo da variação do Teste: {(1- Previsao_leads_geral/total_leads_geral)*100:.2f} %

""")

Soma do Total real de leads de janeiro/2016 à junho/2017 : 47,993.00
Soma da Previsão de leads de janeiro/2016 à junho/2017 : 47,993.00


Cálculo da variação = 1 - previsto/real da base geral Treino + teste
Cálculo da variação do Teste: 0.00 %

# Somar o teste, maio e junho de 2017 total e previsão

In [61]:
total_leads_teste= df_Base_fusca_new.loc[(df_Base_fusca_new['Month']<='2017-06-03') & (df_Base_fusca_new['Month']>='2017-05-01') ]['total_leads'].sum()
Previsao_leads_teste= df_Base_fusca_new.loc[(df_Base_fusca_new['Month']<='2017-06-03') & (df_Base_fusca_new['Month']>='2017-05-01')]['Previsao_leads'].sum()

print(f"""
Dados de teste da parte do Fusca 
Soma do Total real de leads de maio/2017 à junho/2017 : {total_leads_teste:,.2f}
Soma da Previsão de leads de maio/2017 à junho/2017 : {Previsao_leads_teste:,.2f}

Cálculo da variação = 1 - previsto/real => dos dados de teste
Cálculo da variação do Teste: {(1- Previsao_leads_teste/total_leads_teste)*100:.2f} %

""")
# dados próximos e foram suavizados

Dados de teste da parte do Fusca
Soma do Total real de leads de maio/2017 à junho/2017 : 6,075.00
Soma da Previsão de leads de maio/2017 à junho/2017 : 5,814.42

Cálculo da variação = 1 - previsto/real => dos dados de teste
Cálculo da variação do Teste: 4.29 %

# variação caiu na parte do teste, se comparada com a simulação anterior, com os dados do uol, e isso é bom, o que ajuda na performance


Colocar o uol não é tão significativo – mas cuidado temos a regra de negócio – que ainda é essencial. Diferença é pouca, é interessante ainda ter o erro e considerar a influência do uol nos resultados e conseguir mensurar, ou retirar para ter dados mais acurado. 

O ideal é manter as variáveis e dar insights, para acompanhar e ter ganhos marginais, obtendo os erros, que no exemplo são baixos. 

O ideal NÃO é tirar neste caso.